.utils ul {
    width: 100px;
    padding: 6px 0;
}

.utils li a {
    display: flex;
    align-items: center;
    height: 32px;
    padding: 0 12px;
    transition: all .3s ease;
    cursor: pointer;
}

.utils li a:hover {
    background: #efefef;
}

.utils li img {
    width: 18px;
    margin-right: 5px;
}

.utils li span {
    font-size: 14px;
    color: #121212;
    letter-spacing: 2px;
}